.blog {
    &Holder {
        margin-top: 1rem;
    }
    &Block {
        border-bottom: 1px dashed;
        padding-bottom: 1rem;
        &-date {
            margin: 1rem 0;
            text-align: right;
        }
        &-image {
            margin: 0 auto;
            text-align: center;
            img {
                max-width: 100%;
            }
        }
        &-text {
            p {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
            }
            a {
                max-width: 48%;
                display: block;
            }
            img {
                max-width: 100%;
            }
        }
    }
}


