// cart confirm
.cart-confirm {
    margin: 45px 0;
    &-message {
        margin: 4em 0;
        @include get-media($laptop, $desktop) {
            text-align: center;
        }
    }
    &-pocket {
        width: 50vw;
        margin: 0 auto 0;
        @include get-media($laptop, $desktop) {
            width: 20%;
        }
        img {
            max-width: 100%;
        }
    }
    &-action {
        text-align: center;
        @include button(55%);
        @include get-media($laptop, $desktop) {
            @include button(35%);
        }
        .btn {
            margin: 1em 0;
        }
        margin-top: 2rem;
    }
    .call-to-action {
        color: inherit;
    }
}
